.contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 350px; /* Default padding */
    background-color: #333; /* Dark background */
    color: #fff;
    margin-top: 150px;
  }
  
  @media (max-width: 1024px) {
    .contactContainer {
      padding: 30px 100px; /* Adjust padding for tablet screens */
    }
  }
  
  @media (max-width: 768px) {
    .contactContainer {
      padding: 20px 50px; /* Adjust padding for mobile screens */
      margin-top: 40px;
      /* flex-direction: column;  */
    }
  }

  @media (max-width: 600px) {
    .contactContainer {
      padding: 20px 50px; /* Adjust padding for mobile screens */
      margin-top: 10px;
      flex-direction: column; 
    }
  }
  