.icon {
    width: 40px;
    height: 40px;
    background-color: #000; 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    font-size: 1.2rem;
    text-decoration: none; 
  }

  .contact{
    text-align: right;
  }

  .socialMedia {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }

  @media (max-width: 700px) { 
    .icon {
        width: 25px;
        height: 25px;
        font-size: 0.8rem; 
    }    
    .contact > p,a{
        font-size: 13px;
    }

    .socialMedia > p {
        font-size: 13px;
    }
  }