.container {
    margin-top: 50px;
    max-width: none;
    /* --bs-gutter-x: none; */
}
  
h1 {
    font-size: 2.5rem;
    line-height: 1.4;
    /* font-weight: bold; */
}
  
p {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 500;
}

.solutionTitle {
    margin-left: 250px;
    max-width: 550px;
}

.solutionImg {
    width: 100%; 
    height: 500px;
    object-fit: cover;
}

@media (max-width: 1440px) {
    .solutionTitle {
      margin-left: 150px; /* Adjust margin-left for 1440px resolution */
    }
  }
  
  @media (max-width: 1024px) {
    .solutionTitle {
      margin-left: 50px; /* Further adjust for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .solutionTitle {
      margin-left: 25px; /* Remove margin for mobile screens */
      max-width: 100%; /* Ensure it fits smaller screen sizes */
    }
  }

  @media (max-width: 700px) { 
    .solutionTitle > h1 {
        font-size: 25px;
        width : 80%;
    }

    .solutionImg {
        height: 300px;
    }
  }

/* Slider Styles */
.slider-container {
    position: relative;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .nav-button-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    margin-left: 20px;
  }
  
  .nav-button-next {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
  }
  
  /* Stats Section Styles */
  .stats-container {
    width: 1200px;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 150, 203); /* Blue background */
    padding: 20px 0;
    color: white;
  }
  
  @media (max-width: 1024px) {
    .stats-container {
      width: 90%; /* Use a percentage-based width for smaller screens */
      flex-wrap: wrap; /* Allow items to wrap to the next row */
    }
  }
  
  @media (max-width: 768px) {
    .stats-container {
      width: 100%; /* Full width for mobile screens */
      height: auto; /* Adjust height to accommodate wrapped content */
      padding: 10px; /* Reduce padding for smaller screens */
      flex-direction: column; /* Stack items vertically */
    }
  }

  .stat-item {
    width: 30%;
  }
  
  .stat-item img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  
  .stat-number {
    font-size: 4rem;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .stat-text {
    font-size: 1.2rem;
    margin: 0;
  }
  
  /* Video Section */
  .videoSection {
    max-width: 1200px;
    margin-top: 150px;
  }

  .videoTitle {
    margin-left: 50px;
    margin-top: 60px;
  }

  @media (max-width: 1440px) {
    .videoSection {
      margin-top: 100px; /* Adjust margin for 1440px resolution */
    }

    /* .videoTitle {
        margin-left: 30px;
        margin-top: 60px;
      } */
  }
  
  @media (max-width: 1024px) {
    .videoSection {
      max-width: 900px;
      margin-top: 60px; /* Adjust margin for tablet screens */
    }

    .videoTitle {
        margin-left: 30px;
        margin-top: 70px;
    }
  }
  
  @media (max-width: 768px) {
    .videoSection {
      max-width: 650px;
      margin-top: 30px; /* Adjust margin for mobile screens */
    }

    .videoTitle {
        margin-left: 30px;
        margin-top: 70px;
    }
  }

  .video-wrapper video {
    width: 100%;
    height: auto;
  }
  
  .btn-outline-secondary {
    width: 180px;
    height: 80px;
  }

  .statsSection {
    margin-top: 120px;
    justify-items: center;
  }
  
  